$breakpoints:(
    'xs': 340px,
    'sm': 576px,
    'md' :678px,
    'lg': 992px,
    'xl': 1120px,

);

@media (max-width: map-get($breakpoints, 'xl')){
    .container{
        max-width: 960px;
    }
    .container-info{
        max-width: 960px;
    }
}

@media  (max-width: map-get($breakpoints, 'lg')){
    .container{
        width: 740px;
    }
    .container-info{
        max-width: 740px;
    }
    .time-info{
        width: 450px;
        height: 400px;
        top: 380px;
    }
}

@media (max-width: map-get($breakpoints, 'md')){
    .container{
        width: 540px;
    }
    .container-info{
        max-width: 540px;
    }
}

@media(max-width: map-get($breakpoints, 'xs')){
    .container{
        width: 540px;
    }
    .container-info{
        max-width: 540px;
    }
}

@media (max-width: map-get($breakpoints, 'sm')){
    .container{
        max-width: 450px;
    }
    .container-info{
        max-width: 450px;
        display: flex;
        justify-content: center;

    }
    .aboutUs-inner{
        max-width: 300px;
    }
    .item{
        margin: 0 auto;
    }
    .time-info{
        width: 350px;
        height: 400px;
        top: 380px;
    }
    #header .btns{
        display: none;
    }
    #aboutUs{
        width: 450px;
    }
    .time-info{
        display: none;
    }


}