@import 'variables';
@import 'mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.patternBlock{
    display: none;
}

.container-info{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title{
    @include title;
}

.owl-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;

    a{
        padding: 12px 20px;
        cursor: pointer;
        background-color: $GAR-blue;
        color: #fff;
        text-decoration: none;
        font-size: 25px;
        font-weight: 700;
        &:hover{
            background-color: lighten($color: $GAR-blue, $amount: 8);
        }
    }

}

  .btns {
    display: flex;
    .btn-social{
        @include btnSocial;
        &:hover{
            background-color: lighten($color: $btnSocial, $amount: 20);
        }
    }
}

// header
#header{
    background-image: url(../images/header/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 40px;


    .header_inner{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;

        .head-wrap{
            width: 100%;
            flex-direction: column;
            align-items: center;
            display: none;
            .photo-back{
                margin-top: 35px;
                img{
                    max-width: 370px;
                }
            }
        }

        .sideBar{
            order: -1;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 10px;

            .links{
                list-style: none;
                text-align: center;

                .link{
                 @include link($GAR-blue);
                }
            }
            .btn-primary{
                margin: 15px 0;
                display: flex;
                justify-content: center;

                .btn_primary{
                    color: #fff;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 23px 45px;
                    background: $GAR-red;
                    text-decoration: none;
                    &:hover{
                        background-color: lighten($color: $GAR-red, $amount: 6);
                    }
                }
            }
            .logo{
                display: flex;
                justify-content: center;
                padding: 17px 10px;
            }
        }

    }

    .time-info{
        padding: 35px;
        padding-bottom: 45px;
        position: absolute;
        bottom: -35px;
        background: rgba(255, 255, 255, 1);

        .time-inner{
            max-width: 550px;
            margin: 0 auto;

            .title{
                font-size: 22px;
            }
        }

        .time-lines{
            text-align: center;
            margin-top: 30px;

            .time-line {
                display: flex;
                justify-content: space-between;

                .line{
                    color: rgba(0, 0, 0, 1);
                    font-weight: 700;
                    font-size: 23px;
                }
            }
        }
        .time-text{
            font-size: 400;
            font-size: 20px;
            margin-top: 20px;
        }

    }

}

// timer
#timer{
    display: none;
    margin-top: 35px;
    .time-lines{
        margin-top: 30px;
        text-align: center;
    }
    .time-line{
        display: flex;
        justify-content: space-between;

        .line{
            color: rgba(0, 0, 0, 1);
            font-weight: 700;
            font-size: 18px;
        }
    }
    .time-text{
        font-size: 400;
        font-size: 20px;
        margin-top: 20px;
    }

    .links-wrap{
        margin-top: 25px;
    }

      .links{
                list-style: none;
                text-align: center;

                .link{
                 @include link($GAR-blue);
                 font-weight: 800;
                 font-size: 22px;
                }
            }

            .btn-primary{
                margin: 15px 0;
                display: flex;
                justify-content: center;

                .btn_primary{
                    color: #fff;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 35px 75px;
                    background: $GAR-red;
                    text-decoration: none;
                    &:hover{
                        background-color: lighten($color: $GAR-red, $amount: 6);
                    }
                }
         }
}


// about
#about{
    margin-top: 35px;
}
.about-inner{
    max-width: 610px;

    .about-text{
        margin-top: 25px;

    }
}

//price
#price{
    margin-top: 35px;
    .price-inner{
        max-width: 610px;
        width: 100%;
        .wrap-owl{
            width: 100%;
            display: none;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            .owl-carousel{
                max-width: 300px;

                img{
                    width: 100%;
                }
               }
        }
    }

    .prices{
        margin-top: 35px;
        width: 100%;
        display: flex;
    }

}

//rules
#rules{
    margin-top: 35px;

    .rules-inner{
        max-width: 610px;
        .rules-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .patternBlock{
            margin-top: 20px;
            max-width: 300px;
            width: 100%;
            img{
                width: 100%;
            }
        }

        .rules-text{
            margin-top: 20px;
            line-height: 1.3em;
        }
        .practice{
            margin-top: 60px;
            padding: 15px;
            text-align: center;
            border: 22px solid $GAR-red;
            color: $GAR-blue;
        }
    }
}

//aboutUs
#aboutUs{
    margin-top: 35px;

    .aboutUs-inner{
        max-width: 610px;
        width: 100%;

        .owl-nav{
            a{
                background-color: $GAR-red;
            }
        }
        .carousel-about{
            margin-top: 35px;

            .item{
                max-width: 280px;
                margin: 0 auto;

                .name{
                    font-weight: 700;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

//sponsors
#sponsors{
    margin-top: 35px;

    .sponsors-inner{
        max-width: 610px;
        width: 100%;

        .icons{
            display: flex;
            margin-top: 30px;

            .icon{
                margin-right: 25px;
            }
        }
    }
}

//contacts
#contacts{
    margin-top: 35px;
    margin-bottom: 40px;

    .contacts-inner{
        max-width: 610px;
        width: 100%;

        .contacts-info{
            margin-top: 25px;
            font-weight: 400;

            .adress{
                margin-bottom: 10px;
            }
            .email, .tel{
                margin-bottom: 6px;
            }
            .info{
                margin-bottom: 7px;
            }
            a{
                color: #000;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }

        .btns{
            margin-top:40px;
        }

    }
}

@import 'media';